In [25]:
for i in range(0,5):
  for j in range(0,i+1):
    print("*",end=" ")
  print("\r")
for i in range(5,0,-1):
  for j in range(0,i-1):
    print("*",end=" ")
  print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [14]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
n=len(my_list)
for i in range(0,n):
  if(i%2!=0):
    print(my_list[i])

20
40
60
80
100

In [16]:
x=[23,'python',23.98]
type_list=[]
for i in x:
  type_list.append(type(i))
print(x)
print(type_list)

[23, 'python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [18]:
li=[1,2,3,3,3,3,4,5]
#converting list into set to find unique values 
uniquelist=list(set(li))
print(uniquelist)

[1, 2, 3, 4, 5]

In [21]:
st = 'The quick Brow Fox'
uppercount=0
lowercount=0
for i in st:
  if(i.isupper()):
    uppercount=uppercount+1
  else:
    lowercount=lowercount+1
print('total uppercase letters:',uppercount)
print('total lowercase letters:',lowercount)

total uppercase letters: 3
total lowercase letters: 15